In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [8]:
data = pd.read_csv('archivos_ml/full_devices.csv', encoding="latin-1")

In [10]:
print(data.shape)
data.head()

(124494, 12)

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
0,2015-01-01,S1F01085,0,215630672,56,0,52,6,407438,0,0,7
1,2015-01-01,S1F0166B,0,61370680,0,3,0,6,403174,0,0,0
2,2015-01-01,S1F01E6Y,0,173295968,0,0,0,12,237394,0,0,0
3,2015-01-01,S1F01JE0,0,79694024,0,0,0,6,410186,0,0,0
4,2015-01-01,S1F01R2B,0,135970480,0,0,0,15,313173,0,0,3

In [13]:
data['device'].nunique()

1169

In [16]:
data['device'].value_counts()

device
Z1F0QLC1    304
S1F0KYCR    304
S1F0E9EP    304
S1F0EGMT    304
S1F0FGBQ    304
           ...
W1F1CHZK      5
W1F1CJKT      5
S1F04KSC      4
W1F0WJFT      3
W1F1DA5Ã¿      1
Name: count, Length: 1169, dtype: int64

In [15]:
data['date'].nunique()

304

In [14]:
data.failure.value_counts()

failure
0    124388
1       106
Name: count, dtype: int64

In [27]:
data[data['failure']==1].tail(10)

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
107586,2015-07-28,W1F14XGD,1,89738992,15336,0,0,12,242949,0,0,0
108173,2015-07-30,S1F135TN,1,61914048,21200,0,1,16,349173,8,8,0
108625,2015-07-31,W1F1DQN8,1,201440888,0,0,0,10,396,48,48,0
109371,2015-08-03,S1F03YZM,1,110199904,240,0,0,8,294852,0,0,0
109395,2015-08-03,S1F0GSHB,1,150125272,0,0,23,91,251780,8,8,0
109927,2015-08-04,W1F1CB5E,1,16043296,88,0,0,9,30,0,0,0
114251,2015-08-18,Z1F0MRPJ,1,65654088,0,0,0,9,298592,0,0,11
122118,2015-10-05,S1F0JGJV,1,13739704,0,0,18,8,343760,0,0,0
122808,2015-10-09,Z1F14BGY,1,85259320,0,0,164,8,262932,0,0,0
124329,2015-10-26,W1F0T0B1,1,95073232,0,0,7,9,354861,22,22,0

In [30]:
data[data['device']=='W1F1DQN8'].tail(14)

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
104272,2015-07-18,W1F1DQN8,0,139016560,0,0,0,10,50,48,48,0
104610,2015-07-19,W1F1DQN8,0,213553128,0,0,0,10,69,48,48,0
104948,2015-07-20,W1F1DQN8,0,168769592,0,0,0,10,69,48,48,0
105284,2015-07-21,W1F1DQN8,0,208748896,0,0,0,10,69,48,48,0
105620,2015-07-22,W1F1DQN8,0,139640784,0,0,0,10,73,48,48,0
105956,2015-07-23,W1F1DQN8,0,106836072,0,0,0,10,79,48,48,0
106291,2015-07-24,W1F1DQN8,0,46126624,0,0,0,10,79,48,48,0
106625,2015-07-25,W1F1DQN8,0,234522432,0,0,0,10,79,48,48,0
106959,2015-07-26,W1F1DQN8,0,177341872,0,0,0,10,79,48,48,0
107293,2015-07-27,W1F1DQN8,0,21338512,0,0,0,10,79,48,48,0
107627,2015-07-28,W1F1DQN8,0,136590608,0,0,0,10,87,48,48,0
107960,2015-07-29,W1F1DQN8,0,61027392,0,0,0,10,89,48,48,0
108293,2015-07-30,W1F1DQN8,0,128880368,0,0,0,10,89,48,48,0
108625,2015-07-31,W1F1DQN8,1,201440888,0,0,0,10,396,48,48,0

In [31]:
data.isnull().sum()

date          0
device        0
failure       0
attribute1    0
attribute2    0
attribute3    0
attribute4    0
attribute5    0
attribute6    0
attribute7    0
attribute8    0
attribute9    0
dtype: int64

In [33]:
for col in data.columns:
    if col not in ['device', 'date', 'failure']:
        data[col + '_rolling_mean_5'] = data.groupby('device')[col].transform(lambda x: x.rolling(window=5).mean())
        data[col + '_rolling_mean_15'] = data.groupby('device')[col].transform(lambda x: x.rolling(window=15).mean())
        data[col + '_rolling_mean_30'] = data.groupby('device')[col].transform(lambda x: x.rolling(window=30).mean())
        data[col + '_rolling_mean_60'] = data.groupby('device')[col].transform(lambda x: x.rolling(window=60).mean())

In [37]:
data = data.fillna(0)

In [40]:
from sklearn.model_selection import train_test_split


X = data.drop(columns=['failure', 'device', 'date'])
y = data['failure']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((99595, 45), (24899, 45), (99595,), (24899,))

In [43]:
y_train.value_counts(1), y_test.value_counts(1)

(failure
 0    0.999116
 1    0.000884
 Name: proportion, dtype: float64,
 failure
 0    0.999277
 1    0.000723
 Name: proportion, dtype: float64)

# Aplicamos Undersampling

In [61]:
from imblearn.under_sampling import RandomUnderSampler

# Submuestreo usando RandomUnderSampler
rus = RandomUnderSampler(random_state=42)
X_res, y_res = rus.fit_resample(X_train, y_train)

y_res.value_counts(1), y_test.value_counts(1), X_res.shape

(failure
 0    0.5
 1    0.5
 Name: proportion, dtype: float64,
 failure
 0    0.999277
 1    0.000723
 Name: proportion, dtype: float64,
 (176, 45))

# Random Forest

In [54]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

# Entrenar el modelo
model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')
model.fit(X_res, y_res)

# Predicciones
y_pred = model.predict(X_test)

# Evaluar el modelo
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.87      0.93     24881
           1       0.00      0.72      0.01        18

    accuracy                           0.87     24899
   macro avg       0.50      0.79      0.47     24899
weighted avg       1.00      0.87      0.93     24899

[[21554  3327]
 [    5    13]]

In [55]:
from sklearn.metrics import roc_auc_score

# Calcular AUC-ROC
roc_auc = roc_auc_score(y_test, y_pred)
print('AUC-ROC:', roc_auc)

AUC-ROC: 0.7942528658637337

# XGBosting

In [58]:
import xgboost as xgb


# Crear el modelo XGBoost
model = xgb.XGBClassifier(objective='binary:logistic', random_state=42, scale_pos_weight=len(y_train[y_train == 0]) / len(y_train[y_train == 1]))

# Entrenar el modelo
model.fit(X_res, y_res)

# Predicciones
y_pred = model.predict(X_test)

# Evaluar el modelo
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.66      0.80     24881
           1       0.00      0.89      0.00        18

    accuracy                           0.66     24899
   macro avg       0.50      0.78      0.40     24899
weighted avg       1.00      0.66      0.80     24899

[[16478  8403]
 [    2    16]]

In [59]:
# Calcular AUC-ROC
roc_auc = roc_auc_score(y_test, y_pred)
print('AUC-ROC:', roc_auc)

AUC-ROC: 0.7755806527961988

In [62]:
from sklearn.model_selection import cross_val_score

# ValidaciÃ³n cruzada
cv_scores = cross_val_score(model, X_res, y_res, cv=5, scoring='f1')
print('Cross-validation F1-scores:', cv_scores)
print('Mean F1-score:', cv_scores.mean())

Cross-validation F1-scores: [0.73684211 0.77272727 0.77777778 0.76190476 0.8       ]
Mean F1-score: 0.769850383534594